.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.page > main,
.page > .form-page,
.page main.form-page {
  flex: 1 0 auto;
  min-height: 1px;
}

.page > footer {
  margin-top: auto;
}

.form-page {
  max-width: 440px;
  width: 100%;
  margin: 56px auto 96px;
}
